## Data Exploration Step:
This is the first setp of the project called **'CricketWorldCup2K23'**. This project will contain some python notebooks that will contain a step wise method for analysis this data set.

In this notebook, I will first read the data set that is saved in google drive. Basic data exploration means, reading the data, checking the first few observation, checking the dimension of the data frame, getting the column names and column types that are contained in the data frame. Lastly I get the summary statistics of the numerical columns.

One thing to note that, there are some columns that are not object type. Rather they are integer and float type. I may need to convert them into string type column.

There are some missing values in the data set. To consider that, I use python codes to know the number of missing values in the data set.

In [1]:
# Importing required packages
import numpy as np
import pandas as pd

In [2]:
# Connecting google colab to google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Reading the 'WorldCup2K23_OriginalData.csv' into a variable called data
data = pd.read_csv('/content/drive/MyDrive/Project_Data_Sets/WorldCup2K23data_OriginalData.csv')
data.head()

,PlayerName,TeamName,Continent,Type,1,2,3,4,5,6,...,26,27,28,29,30,31,WicketsTaken,OversBowled,RunsConceded,Economy
0,Subhman Gill,India,Asia,Batter,NaN,NaN,16.0,53.0,26.0,9.0,...,0,0,0,0,0,0,0,2.0,11.0,5.50
1,Ishan Kishan,India,Asia,Batter,0.0,47.0,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,Rohit Sharma,India,Asia,Batter,0.0,131.0,86.0,48.0,46.0,87.0,...,0,0,0,1,0,0,1,0.5,7.0,8.40
3,Virat Kohli,India,Asia,Batter,85.0,55.0,16.0,103.0,95.0,0.0,...,0,0,0,1,0,0,1,3.3,15.0,4.55
4,Shreyas Iyer,India,Asia,Batter,0.0,25.0,53.0,19.0,33.0,4.0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

## About the data set:
This data set as it names contains the information of the Cricket World Cup 2023, held in India. Australia won this world cup on 19th December 2023, Sunday at Ahmedabadh Narendra Modi Stadium.

Through this world cup, I have collected all the information that are given in the data set. One can check playerwise information from this data set. All the players are categorised by their Country, Continent and Type. This data set contains runs scored by each player (If he bats) and wickets taken with Economy (If he bowls). Otherwise the place is left empty, resulting in missing values.

In [6]:
# Gettinf the dimension of the data frame
data.shape

(152, 32)

In [7]:
# Gettinf the Column names of the data frame
data.columns

Index(['PlayerName', 'TeamName', 'Continent', 'Type', '1', '2', '3', '4', '5',
       '6', '7', '8', '9', '10', '11', 'TotalRuns', 'MatchesPlayed', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'WicketsTaken', 'OversBowled', 'RunsConceded', 'Economy'],
      dtype='object')

In [8]:
# Getting the type of the columns
data.dtypes

PlayerName        object
TeamName          object
Continent         object
Type              object
1                float64
2                float64
3                float64
4                float64
5                float64
6                float64
7                float64
8                float64
9                float64
10               float64
11               float64
TotalRuns          int64
MatchesPlayed      int64
21                 int64
22                 int64
23                 int64
24                 int64
25                 int64
26                 int64
27                 int64
28                 int64
29                 int64
30                 int64
31                 int64
WicketsTaken       int64
OversBowled      float64
RunsConceded     float64
Economy          float64
dtype: object

In [9]:
# Getting Summary Statistics of the data frame
data.describe()

,1,2,3,4,5,6,7,8,9,10,...,26,27,28,29,30,31,WicketsTaken,OversBowled,RunsConceded,Economy
count,108.000000,110.000000,110.000000,110.000000,110.000000,110.000000,108.000000,110.000000,110.000000,44.000000,...,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,101.000000,101.000000,101.000000
mean,22.333333,24.790909,19.463636,23.218182,22.118182,21.772727,19.675926,22.954545,23.427273,24.681818,...,0.552632,0.473684,0.427632,0.440789,0.203947,0.085526,4.539474,41.687129,240.267327,6.327624
std,31.219752,32.605818,22.556220,30.335247,33.451795,24.056378,27.148201,35.016742,29.301489,35.161271,...,1.034437,1.035447,0.888499,0.843625,0.783428,0.397743,6.065734,29.947937,160.275007,1.541700
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,7.000000,3.400000
25%,0.000000,1.000000,2.000000,2.000000,0.000000,4.000000,0.000000,0.000000,1.250000,0.750000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,94.000000,5.420000
50%,11.000000,12.000000,11.000000,10.000000,8.000000,15.000000,8.000000,9.000000,15.000000,9.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,38.000000,234.000000,6.020000
75%,29.000000,30.750000,28.000000,34.750000,27.750000,31.750000,29.500000,29.000000,36.000000,32.250000,...,1.000000,0.000000,0.000000,0.250000,0.000000,0.000000,8.000000,67.000000,373.000000,6.930000
max,152.000000,140.000000,89.000000,163.000000,174.000000,116.000000,133.000000,201.000000,177.000000,134.000000,...,4.000000,5.000000,5.000000,4.000000,7.000000,3.000000,24.000000,96.000000,533.000000,12.000000

In [10]:
# Checking for any missing values in the data set
missing_values = data.isnull().sum()
print('Missing Value in Each Column:')
print(missing_values)

Missing Value in Each Column:
PlayerName         0
TeamName           0
Continent          0
Type               0
1                 44
2                 42
3                 42
4                 42
5                 42
6                 42
7                 44
8                 42
9                 42
10               108
11               130
TotalRuns          0
MatchesPlayed      0
21                 0
22                 0
23                 0
24                 0
25                 0
26                 0
27                 0
28                 0
29                 0
30                 0
31                 0
WicketsTaken       0
OversBowled       51
RunsConceded      51
Economy           51
dtype: int64